<% if @answer.errors.present? %>
  $("#answerErrors").html("<ul>");
  <% @answer.errors.full_messages.each do |message| %>
    $("#answerErrors").append("<div class=\"error\"><li><%= j message %></div>");
  <% end %>
  $("#answerErrors").append("</ul>");
<% else %>
  $("#answerErrors").html("");
  <% if @answer&.id %>
    <% publish_to "/questions/#{@question.id}/answers" do %>
      $("<%= j render 'questions/answer', answer: @answer, comet: true %>").appendTo("#answers");
    <% end %>
    $(".new-answer-body").val("");
    $("#attachments").html("");
  <% end %>
<% end %>