/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=PT+Serif+Caption&subset=latin,cyrillic);

body {
  font-family: 'PT Serif Caption', serif;
}

#main {
  min-height: 80em;
  background: #f9f9f9;
  margin: 20px 0;
}

p {
  font-size: 1.2em;
}

.little {
  font-size: .82em;
}

#error_explanation {
  ul {
    color: red;

  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.error {
  color: #B00100;
  margin: 0 0 .5em .4em;
  list-style-type: circle;
  height: 1em;
}

// Pair of styles to toggle elements
.h_el { display: none; }
.v_el { display: inline; }
